* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#class-komodo {
  display: flex;
}

li {
  padding: 5px;
  padding-left: 20px;
  text-align: left;
  cursor: pointer;
  color: blue;
}

.classmate {
  font-size: 40px;
}

.class-list {
  flex: 1;
  min-width: 200px;
}

.class-detail {
  margin: 0;
  flex: 4;
  text-align: left;
}

button {
  font-size: 15px;
  padding: 10px 20px 10px 20px;

  margin: 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5;
}

button:hover {
  background: lightgray;

}

img {
  height: 200px;
}